absl-py==0.2.0
astor==0.6.2
bleach==1.5.0
click==6.7
Flask==1.0.2
Flask-WTF==0.14.2
gast==0.2.0
grpcio==1.11.0
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
nltk==3.3
numpy==1.14.3
protobuf==3.5.2.post1
python-crfsuite==0.9.5
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
Werkzeug==0.14.1
WTForms==2.1
